body {
  background-color: #000;
  color: #fff;
}
* {
  border-radius: 50px;
}
.gazon {
  width: 650px;
  height: 405px;
  display: inline-block;
  margin: 15px 40px;
  border-radius: 0;
  background-size: 650px;
  border: 2px solid #a92d2d;
}

.teamfull {
  width: 215px;
  display: inline-block;
  height: 400px;
  margin-left: 25px;
}
.vs {
  width: 150px;
  display: inline-block;
  height: 400px;
  border-radius: 20px;
  border: 1px solid #ddd;
}
.teamfull2 {
  width: 215px;
  display: inline-block;
  height: 400px;
}

.logo {
  background: url(couverture/cropped-favicon.jpg) no-repeat scroll center top;
  display: inline-block;
  background-size: 103px 103px;
  width: 100%;
  height: 100%;
}

.first-content {
  float: right;
}

.first-content, .sec-content {
  width: 50%;
}
.sec-content, .les-matchs, .tags {
  float: left;
}

.les-matchs {
  overflow-y: scroll;
  width: 350px;
  height: 600px;
  border-radius: 0%;
}

textarea {
  background-color: rgb(29, 7, 7);
  color: #fff;
  padding: 50px;
}

input,
select {
  padding: 10px;
  margin: 25px;
  text-align: center;
}

input:first-of-type {
  float: left;
  background: linear-gradient(to right, rgb(55, 145, 37), rgb(219, 219, 162));
}

input:nth-of-type(2) {
  float: right;
  background: linear-gradient(to left, rgb(84, 113, 192), rgb(219, 219, 162));
}
select {
  background: rgb(219, 219, 162);
}
button {
  width: 150px;
  background-color: cyan;
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  box-shadow: 0 0 15px darkorange;
  margin-left: 300px;
}

.clear {
  clear: both;
}

.tags {
  max-width: 90%;
}

.backyellow {
  background-color: yellow;
  color:black
}